@charset "UTF-8";
/* ---ПЕРЕМЕННЫЕ------------------- */
/* -------------------------------- */
/* Глобальные блоки */
.wraper {
  min-height: 100%;
  overflow: hidden;
  font-family: Inter, sans-serif;
  color: #000000;
}

.container {
  max-width: 1168px;
  margin: 0px auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: calc(50 / 38 * 100%);
  letter-spacing: -0.3px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  line-height: calc(32 / 18 * 100%);
  color: #323232;
}

.content-block {
  max-width: 436px;
}

.content-block__title {
  margin-bottom: 35px;
}

.content-block__text {
  margin-bottom: 35px;
}

@media (max-width: 1200px) {
  .content-block__button {
    margin-bottom: 80px;
  }
}

.button-active {
  background-color: #50e3c2;
  border-radius: 23px;
}

/* .rate-active {
    position: relative;
    border-top: none;
    &::before {
        content: "";
        position: absolute;
        top: -0.3px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $color_green;
        border-radius: 6px;
    }
    & .rate__column {
        border-top: none;
    }
} */
.button {
  min-height: 50px;
  display: inline-block;
  background-color: #50e3c2;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: #0f3d33;
  padding: 15px 28px;
}

/* --HEADER-------------------------*/
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 61px 0px;
}

@media (max-width: 991px) {
  .header {
    padding: 45px 0px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 30px 0px;
  }
}

.header a:hover {
  text-decoration: underline;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 30px;
}

.header__logo a {
  display: inline-block;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .header__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__item {
  min-width: 61px;
}

.header__item:not(:last-of-type) {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .header__item:not(:last-of-type) {
    margin-right: 30px;
  }
}

@media (max-width: 480px) {
  .header__item:not(:last-of-type) {
    margin-right: 20px;
  }
}

.header__item a {
  font-size: 16px;
  line-height: 24px;
  color: #dbe4f1;
}

@media (max-width: 480px) {
  .header__item a {
    font-size: 18px;
  }
}

/* ---BANNER------------------------*/
.banner {
  padding: 185px 0px 90px 0px;
  background: url("../img/banner/bg.jpg") 0 0/100% 100% no-repeat;
}

@media (max-width: 991px) {
  .banner {
    padding: 170px 0 70px 0;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 150px 0 50px 0;
  }
}

.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__title {
  font-weight: 700;
  font-size: 46px;
  line-height: calc(68 / 46 * 100%);
  letter-spacing: -0.3px;
  color: #ffffff;
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .banner__title {
    font-size: 40px;
  }
}

.banner__text {
  max-width: 563px;
  font-size: 20px;
  line-height: calc(34 / 20 * 100%);
  color: #dbe4f1;
  margin-bottom: 27px;
}

@media (max-width: 480px) {
  .banner__text {
    font-size: 16px;
  }
}

.banner__button {
  margin-bottom: 11px;
}

.banner__info {
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
  color: #dbe4f1;
}

/* ---ADVANTAGES--------------------*/
.advantages {
  padding: 166px 0px;
}

@media (max-width: 1200px) {
  .advantages {
    padding: 90px 0;
  }
}

@media (max-width: 991px) {
  .advantages {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 60px 0;
  }
}

@media (max-width: 480px) {
  .advantages {
    padding: 40px 0;
  }
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .advantages__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
}

.advantages__column:nth-child(2) .advantages__icon {
  background-color: rgba(80, 227, 194, 0.06);
}

.advantages__column:nth-child(2) .advantages__icon:before {
  background-color: #50e3c2;
}

.advantages__column:nth-child(3) .advantages__icon {
  background-color: rgba(166, 101, 251, 0.06);
}

.advantages__column:nth-child(3) .advantages__icon:before {
  background-color: #a665fb;
}

.advantages__column:nth-child(1)::after, .advantages__column:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 41%;
  right: 0;
  width: 1px;
  height: 42.3%;
  background-color: #e8e8ea;
}

@media (max-width: 767px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .advantages__column:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 30px;
  }
  .advantages__column:nth-child(2)::after {
    content: "";
    display: none;
  }
  .advantages__column:nth-child(1)::after, .advantages__column:nth-child(2)::after {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 480px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .advantages__column:nth-child(1) {
    margin-bottom: 30px;
  }
  .advantages__column:nth-child(1)::after {
    content: "";
    display: none;
  }
  .advantages__column:nth-child(1), .advantages__column:nth-child(2) {
    border-bottom: 1px solid #e8e8ea;
  }
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  height: 100%;
}

.advantages__icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(252, 92, 101, 0.06);
  margin-bottom: 33px;
}

.advantages__icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fc5c65;
}

.advantages__title {
  font-weight: 700;
  font-size: 22px;
  line-height: calc(34 / 22 * 100%);
  margin-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.advantages__text {
  font-size: 18px;
  line-height: calc(34 / 18 * 100%);
  color: #323232;
  max-width: 307px;
}


/* ---ANALYTICS*/

.analytics {
  padding: 180px 0 120px 0;
  background-color: #f8fbfe;
}

@media (max-width: 1200px) {
  .analytics {
    padding: 120px 15px 50px 15px;
  }
}

@media (max-width: 991px) {
  .analytics {
    padding: 70px 15px 60px 15px;
  }
}

@media (max-width: 480px) {
  .analytics {
    padding: 40px 0px 40px 0px;
  }
}

.analytics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .analytics__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.analytics__images {
  margin-top: -60px;
}

@media (max-width: 991px) {
  .analytics__images {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

.analytics__image-1 {
  width: 100%;
  max-width: 269px;
}

.analytics__image-1 img {
  width: 100%;
  -webkit-box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
          box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .analytics__image-1 {
    max-width: 215px;
  }
}

@media (max-width: 480px) {
  .analytics__image-1 {
    max-width: 161px;
  }
}

.analytics__image-2 {
  width: 100%;
  max-width: 336px;
  margin-top: -54%;
  margin-left: 136px;
}

.analytics__image-2 img {
  width: 100%;
  -webkit-box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .analytics__image-2 {
    max-width: 269px;
    margin-left: 110px;
  }
}

@media (max-width: 480px) {
  .analytics__image-2 {
    max-width: 201px;
    margin-left: 80px;
  }
}

.analytics .button {
  background-color: #e0f8f5;
}

/*---ACTIVITY*/
.activity {
  padding: 154px 0 174px 0;
}

@media (max-width: 1200px) {
  .activity {
    padding: 124px 0 70px 0;
  }
}

@media (max-width: 991px) {
  .activity {
    padding: 94px 0 90px 0;
  }
}

@media (max-width: 991px) {
  .activity {
    padding: 74px 0 80px 0;
  }
}

.activity__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .activity__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.activity__images {
  margin-top: -34px;
}

@media (max-width: 991px) {
  .activity__images {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

.activity__image-1 {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 365px;
}

@media (max-width: 1200px) {
  .activity__image-1 {
    max-width: 350px;
  }
}

.activity__image-1 img {
  width: 100%;
  -webkit-box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .activity__image-1 {
    max-width: 245px;
  }
}

@media (max-width: 480px) {
  .activity__image-1 {
    max-width: 183px;
  }
}

.activity__image-2 {
  width: 100%;
  max-width: 320px;
  margin-top: -62%;
  margin-left: 220px;
}

@media (max-width: 1200px) {
  .activity__image-2 {
    max-width: 305px;
    margin-left: 215px;
  }
}

.activity__image-2 img {
  width: 100%;
  -webkit-box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .activity__image-2 {
    max-width: 214px;
    margin-left: 150px;
  }
}

@media (max-width: 480px) {
  .activity__image-2 {
    max-width: 160px;
    margin-left: 113px;
  }
}

.activity .button {
  background-color: #e0f8f5;
}

/* ---PLAN------------------------- */
.plan {
  padding: 120px 0 147px 0;
  background-color: #f8fbfe;
  text-align: center;
}

@media (max-width: 991px) {
  .plan {
    padding-top: 85px;
  }
}

@media (max-width: 480px) {
  .plan {
    padding-top: 55px;
  }
}

.plan__text {
  max-width: 750px;
  margin: 0px auto 60px auto;
}

@media (max-width: 480px) {
  .plan__text {
    margin-bottom: 45px;
  }
}

.plan__buttons {
  padding: 4px;
  border-radius: 23px;
  border: 1px solid #e8e8ea;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.plan__button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(28 / 12 * 100%);
  letter-spacing: -0.3px;
  min-height: 38px;
  padding: 5px 34px;
  text-transform: uppercase;
  text-align: center;
  color: #0f3d33;
}

/*-----RATE-------------------------*/
.rate {
  margin: -107px 0 107px 0;
}

@media (max-width: 767px) {
  .rate {
    margin-bottom: 30px;
  }
}

.rate__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

@media (max-width: 767px) {
  .rate__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rate__column {
  padding: 29px 44px 29px 44px;
  border-radius: 6px;
  min-width: 290px;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .rate__column {
    border: 1px solid #8e8e8e;
  }
}

.rate__item {
  padding: 0 15px;
  max-width: 350px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.rate__item:nth-child(1) .rate__column {
  border-top: 4px solid #ffffff;
  border-radius: 3px 3px 6px 6px;
}

.rate__item:nth-child(2) .rate__column {
  border-top: 4px solid #50e3c2;
  border-radius: 3px 3px 6px 6px;
}

@media (max-width: 767px) {
  .rate__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    max-width: 100%;
  }
  .rate__item:nth-child(1) .rate__column {
    border: 1px solid #8e8e8e;
    border-radius: 6px;
  }
}

@media (max-width: 767px) {
  .rate__item:first-of-type {
    margin-bottom: 15px;
  }
}

.rate__name {
  font-weight: 700;
  font-size: 13px;
  line-height: calc(32 / 13 * 100%);
  letter-spacing: 0.43px;
  color: #878b90;
  margin-bottom: 17px;
  text-align: left;
}

.rate__price {
  font-weight: 700;
  font-size: 46px;
  line-height: calc(60 / 46 * 100%);
  letter-spacing: -0.3px;
  margin-bottom: 14px;
}

.rate__price span {
  font-size: 17px;
  line-height: calc(21 / 17 * 100%);
}

.rate__text {
  font-size: 14px;
  line-height: calc(23 / 14 * 100%);
  letter-spacing: -0.4px;
  color: #323232;
  margin-bottom: 26px;
}

.rate__list {
  padding-bottom: 31px;
}

@media (max-width: 767px) {
  .rate__list {
    margin: 0px auto;
    text-align: left;
    max-width: 227px;
  }
}

.rate__list-item {
  background: url("../img/rate/check.svg") left center no-repeat;
  font-size: 18px;
  line-height: calc(32 / 18 * 100%);
  letter-spacing: -0.45px;
  padding-left: 24px;
}

.rate__list-item:not(:last-of-type) {
  margin-bottom: 7px;
}

.rate__item:first-of-type .rate__list-item:nth-child(3),
.rate__item:first-of-type .rate__list-item:nth-child(4) {
  text-decoration: line-through;
  color: #8e8e8e;
  background: url("../img/rate/check-gray.svg") left center no-repeat;
}

.rate__button {
  margin-bottom: 14px;
}

.rate__info {
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
  letter-spacing: -0.4px;
  color: #666666;
}

/*----FEEDBACK----------------------*/
.feedback {
  padding-bottom: 142px;
}

@media (max-width: 991px) {
  .feedback {
    padding-bottom: 15px;
  }
}

.feedback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8e8ea;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .feedback__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feedback__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 103px 0px 48px 0px;
}

@media (max-width: 991px) {
  .feedback__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .feedback__item:last-of-type {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .feedback__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border: none;
  }
}

@media (max-width: 480px) {
  .feedback__item {
    min-width: 280px;
  }
}

.feedback__item::before {
  content: "”";
  position: absolute;
  top: 15px;
  left: 59px;
  font-size: 98px;
  color: #dbe4f1;
}

.feedback__item:not(:last-of-type) {
  border-right: 1px solid #e8e8ea;
}

@media (max-width: 991px) {
  .feedback__item:not(:last-of-type) {
    border-bottom: 1px solid #e8e8ea;
    border-right: none;
  }
}

@media (max-width: 991px) {
  .feedback__item:nth-child(2n) {
    border-left: 1px solid #e8e8ea;
  }
}

@media (max-width: 767px) {
  .feedback__item:nth-child(2n) {
    border-left: none;
  }
}

.feedback__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 273px;
  font-size: 18px;
  line-height: calc(32 / 18 * 100%);
  letter-spacing: -0.1px;
  margin-bottom: 40px;
  color: #000000;
}

.feedback__block {
  margin: 0px auto;
  text-align: left;
}

.feedback__author {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(28 / 16 * 100%);
  letter-spacing: -0.3px;
  color: #323232;
}

.feedback__source {
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
  letter-spacing: -0.3px;
  color: #323232;
}

.feedback__source a {
  color: inherit;
}

.feedback a:hover {
  text-decoration: underline;
}

/* ---FOOTER----------------------- */
.footer {
  background-color: #2d3851;
  padding: 60px 0px 41px 0px;
  background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
}

.footer a:hover {
  text-decoration: underline;
}

.footer__container {
  padding: 0px 35px;
}

.footer__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.4%;
}

@media (max-width: 767px) {
  .footer__category {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__category-item:not(:last-of-type) {
  margin-right: 69px;
}

@media (max-width: 767px) {
  .footer__category-item:not(:last-of-type) {
    margin-right: 0;
  }
}

.footer__category-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 165px;
          flex: 0 1 165px;
}

@media (max-width: 767px) {
  .footer__category-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
}

.footer__category-item span {
  display: inline-block;
  font-size: 14px;
  line-height: calc(32 / 14 * 100%);
  color: #dbe4f1;
  opacity: 0.7;
  margin-bottom: 23px;
}

@media (max-width: 767px) {
  .footer__category-item span {
    margin-bottom: 15px;
  }
}

.footer__list-item a {
  font-size: 16px;
  line-height: calc(34 / 16 * 100%);
  color: #f8fbfe;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: calc(18 / 12 * 100%);
  color: #dbe4f1;
}

@media (max-width: 767px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.footer__copyright {
  margin-right: 18%;
}

@media (max-width: 767px) {
  .footer__copyright {
    margin-right: 0;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__links {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer__items {
  margin-right: 18px;
  color: inherit;
}

@media (max-width: 480px) {
  .footer__items {
    margin: 0 0 10px 0;
  }
}

.footer__items a {
  color: inherit;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 340px;
}

.footer__contact {
  margin: 0px 19px 0px 0px;
}

.footer__contact-icon {
  display: inline-block;
  width: 16px;
}

.footer__contact-icon img {
  width: 100%;
}

/* ---FORM------------------------- */
.request {
  padding: 90px 0 120px 0;
}

@media (max-width: 991px) {
  .request {
    padding-top: 60px;
  }
}

@media (max-width: 480px) {
  .request {
    padding-bottom: 70px;
  }
}

.request__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

@media (max-width: 991px) {
  .request__top {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .request__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .request__top {
    margin-bottom: 45px;
  }
}

.request__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(50 / 28 * 100%);
  letter-spacing: -0.22px;
  margin-right: 61px;
  text-align: center;
}

@media (max-width: 767px) {
  .request__subtitle {
    margin: 0 0 20px 0;
  }
}

.request__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__title {
  font-weight: 700;
  font-size: 38px;
  line-height: calc(50 / 38 * 100%);
  letter-spacing: -0.3px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 480px) {
  .request__title {
    font-size: 36px;
  }
}

.request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 558px;
  padding: 50px;
  border: 1px solid #e8e8ea;
  -webkit-box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 10px;
  background-color: #ffffff;
}

.request__form input {
  font-size: 14px;
  line-height: calc(50 / 14 * 100%);
  letter-spacing: -0.3px;
  color: #323232;
  border: 1px solid #e8e8ea;
  border-radius: 3px;
  padding-left: 16px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .request__form {
    padding: 20px;
    -webkit-box-shadow: 0px 22px 30px rgba(67, 87, 138, 0.29);
            box-shadow: 0px 22px 30px rgba(67, 87, 138, 0.29);
  }
}

.request__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: -0.3px;
}

@media (max-width: 480px) {
  .request__file {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.request__attach {
  display: inline-block;
  color: #323232;
}

@media (max-width: 480px) {
  .request__attach {
    margin-bottom: 20px;
  }
}

.request__attach-button {
  background-color: #f2f5f8;
  border-radius: 3px;
  padding: 9px 12px;
  color: #323232;
  font-size: 14px;
  letter-spacing: -0.3px;
}

.request__attach-button span {
  padding-left: 18px;
  background: url(../img/request/icon.svg) no-repeat left;
}

.request__button-submit {
  padding: 15px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: #0f3d33;
  border-radius: 3px;
  background-color: rgba(80, 227, 194, 0.14);
}
